.glowny{
    background-color:#ff0;
    background: #fff url(../assets/tlo-mapa.png) no-repeat;
    background-size: contain;
    background-position: center
}

.czerwony {
    background-color:red;
}

.zielony {
    background-color:green;
}

.niebieski {
    background-color:blue;
}


.zolty {
    background-color:yellow;
}