/*
fixed - "przylepia" element do aktualnej pozycji
*/



html {    
    font-size: 62.5%;
    font-family: 'Merriweather', serif;
    
  }

div{
    display:block;
}

.kontener_naglowek{
    background: #ccc url(../assets/1024/naglowek.png) fixed no-repeat;
    background-position: top center;
    height: 430px;
}

.kontener_tresc{
    background: #ccc url(../assets/1024/tresc.png) repeat-y;     
    background-position: top center;
    min-height: 18px;
    }


.kontener_stopka{       
    background: #ccc url(../assets/1024/stopka.png) no-repeat;    
    background-position: top center;   
    height: 51px;    
}



@media all and (max-width: 1024px) {
     .kontener_naglowek{
    background: #ccc url(../assets/768/naglowek.png) fixed no-repeat;
    background-position: top center;
    height: 330px;
}

.kontener_tresc{
    background: #ccc url(../assets/768/tresc.png) repeat-y;     
    background-position: top center;
    min-height: 30px;
    }


.kontener_stopka{       
    background: #ccc url(../assets/768/stopka.png) no-repeat;    
    background-position: top center;   
    height: 42px;    
}   
    }
       
@media all and (max-width: 768px) {
       .kontener_naglowek{
    background: #ccc url(../assets/480/naglowek.png) fixed no-repeat;
    background-position: top center;
    height: 245px;
}

.kontener_tresc{
    background: #ccc url(../assets/480/tresc.png) repeat-y;     
    background-position: top center;
    min-height: 34px;
    }


.kontener_stopka{       
    background: #ccc url(../assets/480/stopka.png) no-repeat;    
    background-position: top center;   
    height: 38px;    
}
    }


  
