/*
fixed - "przylepia" element do aktualnej pozycji
*/

@import url('https://fonts.googleapis.com/css?family=Cardo');

html {    
    font-size: 62.5%;
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Cardo', serif;
      background-color: #ccc;
  }

p{
    display: block;
    margin :1rem;
    line-height: 2rem;
}

.kontener_glowny{
    width:1000px;
    margin:0 auto;         
}

.kontener_naglowek{
    background: #ccc url(../assets/1024/naglowek.png)  no-repeat;
    background-position: top center;
    height: 435px;  
    /*Uwaga ustawiam kontekst pozycjonowania dla kontener_menu*/
    position:relative;
}

.kontener_menu{   
    /*pozycjonowany wzgledem rodzica*/
    position:absolute;
    margin-top:380px;
    margin-left:170px;
    width:650px;     
    background-color:red;
    height: 50px;     
}


.kontener_srodek{
    background: #ccc url(../assets/1024/tresc.png) repeat-y;     
    background-position: top center;
    min-height: 18px;
    padding:1rem;
    }

.kontener_tresci{
    /*background-color: red;    */
    margin:0 auto;
    width: 670px;    
 }


.kontener_stopka{       
    background: #ccc url(../assets/1024/stopka.png) no-repeat;    
    background-position: top center;   
    height: 51px;    
}

section{
    font-size: 1.6rem;
}



@media all and (max-width: 1024px) {
   .kontener_glowny{
    width:740px;
    margin:0 auto;  
}
    
    .kontener_naglowek{
    background: #ccc url(../assets/768/naglowek.png) no-repeat;
    background-position: top center;
    height: 401px;
 /*Uwaga ustawiam kontekst pozycjonowania dla kontener_menu*/
    position:relative;
}

.kontener_menu{   
    /*pozycjonowany wzgledem rodzica*/
    position:absolute;
    margin-top:330px;
    margin-left:90px;
    width:550px;     
    background-color:red;
    height: 50px;     
}

.kontener_srodek{
    background: #ccc url(../assets/768/tresc.png) repeat-y;     
    background-position: top center;
    min-height: 20px;
    padding:1rem;
    }

  .kontener_tresci{
    /*background-color: yellow;   */
    width: 580px;    
 }

.kontener_stopka{       
    background: #ccc url(../assets/768/stopka.png) no-repeat;   
    background-position: top center;   
    
}
    
  
       
@media all and (max-width: 768px) {
.kontener_glowny{
    width:450px;
    margin:0 auto;  
}
    
.kontener_naglowek{
    background: #ccc url(../assets/480/naglowek.png) no-repeat;
    background-position: top center;
    height: 299px;
}
    
.kontener_menu{
         /*pozycjonowany wzgledem rodzica*/
    position:absolute;
    margin-top:260px;
    margin-left:60px;
    width:350px;     
    background-color:red;
    height: 50px;  
    }

.kontener_srodek{
    background: #ccc url(../assets/480/tresc.png)repeat-y;     
    background-position: top center;
    min-height: 34px;
    padding:1rem;
    }

  .kontener_tresci{
   /* background-color: orange;    */
    margin:0 auto;
    width: 350px;    
    }

.kontener_stopka{       
    background: #ccc url(../assets/480/stopka.png) no-repeat;    
    background-position: top center;   
    height: 35px;    
}

.menu_ikonka {
    display:block;
    background: #ccc url(../assets/480/menu.svg) center no-repeat;
    padding: 1rem;    
    height: 3.2rem;    
    width: 3.2rem;
    left: 0; 
    
}


}


  
