

.menu
{    
    /*background-color: #325920; */
	overflow: hidden;   
    width: 100%;    
}

.menu ul{
	display: table;
	width: 100%;
}

.menu ul li{
	display: table-cell;
}

.menu ul li a{
	color: #000; 
    height: 4rem;
    line-height: 2rem;
	display: inline-block;
    vertical-align: middle;
	padding: 0 1rem;
	text-align: center;
    font-size: 1.5rem;
    text-decoration: none; 

}

header nav.menu{
	float: left;	
}

.pomaranczowy{
    background-color: #fbc262;
}

.ciemny_zolty{
    background-color: #fede6b;
}

.zolty{
    background-color: #e4ea6c;
}

.zielony{
    background-color: #96ce9c;
}
.niebieski{
    background-color: #a3d9f8;
}
.fioletowy{
    background-color: #b0b0ef;
}
.rozowy{
    background-color: #da91b7;
}
