

.menu
{
    
    background-color: #325920;
    border-radius: 5px;
	overflow: hidden;
    margin: 10px;
    width: 90%;
}

.menu ul{
	display: table;
	width: 100%;
}

.menu ul li{
	display: table-cell;
}

.menu ul li a{
	color: #EBF2B3;
	height: 80px;
	line-height: 80px;
	display: block;
	padding: 0 10px;
	text-align: center;
    font-size: 22px;

}

header nav.menu{
	float: right;
	width: 80%;
}
