@import url('https://fonts.googleapis.com/css?family=Lato|Coiny');
body{
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    color: #000;
    font-size: 14px;
    background-color: #eee;
   /* background-image:linear-gradient(to bottom,yellow,blue) ;
    height:100vh;    */
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Coiny', cursive; 
  font-size: 0.5 em;
}


.glowny{    
   padding: 10px;
    background-color:#fff;
    width:1024px;
}

 header {
      background: url(../assets/naglowek.png) no-repeat ;
      height: 250px;  
      background-color:#ccc;
    }

.karta_duza {
    padding:20px;
}

.przezroczysty{
    opacity: 0.6;
}

.przezroczysty:hover{
    opacity: 1;
}

.niewidoczny{
    display:none;
}

