

.glowny{    
     background-color:white;
}

 header {
      background: url(../assets/naglowek.png) no-repeat ;
      height: 320px;  
      background-color:#ccc;
    }

.karta_duza {
    padding:20px;
}

.zielony {
    background-color:green;
}

.niebieski {
    background-color:blue;
}


.zolty {
    background-color:yellow;
}